@import url('https://fonts.googleapis.com/css2?family=Macondo&family=PT+Sans&family=Poppins:wght@100&display=swap');
body{
  overflow-x: hidden;
  font-family: 'Macondo', cursive;

}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #103974;  
  border-radius: 10px;
}

/* Handle on hover */


.rude{
width: 15%;
margin-left: 2%;

}
.fdf{
  height: 05px;
  width: -599px;
  margin-top: 200px;
}
.bgr{
  background: #103974;
box-shadow: 4px 12px 102px 77px rgba(0, 0, 0, 0.25);
border-radius: 62px;
}
.text1{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: '800';
font-size: 49px;
padding: 15px;

color: #FFFFFF;

}
@media only screen and (max-width: 600px) {
  .text {
    font-size: 2px;
    
  }
  .rude{
    align-items: center;
    justify-content: center;
    width: 150px;
  }
  .responsive{
    width: 180px;
    
  }
  .pro{
    margin-bottom: 15%;
    margin-top: 10%;
  }
}
.bras{
  margin-top: '-150px';
}
.text{
  font-family: 'Poppins', sans-serif;
  font-style: normal;

font-size: 49px;
padding: 15px;

color: #FFFFFF;
}
.pat{
  font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 35px;
margin-top: 15px;
color: #000000;
}
.d{
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 30px;
padding: 15px;
/* identical to box height */
color: #FFFFFF;

}
.de{
  font-family: 'PT Sans', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 23px;

color: gray;
}
.ds{
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
padding: 15px;
/* identical to box height */
color: #FFFFFF;

}
.dsl{
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
padding: 15px;
/* identical to box height */
color: #FFFFFF;
}
.btn{
  width: 294px;
height: 70px;
background: #1B1481;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;
cursor: pointer;
border: none;
}
.imgs{
  
width: 674px;
height: 100vh;

}
.boy{
  font-family: '';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
/* identical to box height */


color: #000000;
}
.fred{
  font-family: '';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #000000;

}
.buttons{
  width: 250px;
height: 54px;
border-radius: 7px;
cursor: pointer;
background-color: #262626;
border: none;
}

.bgt{
  background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1652715002/empty-elegant-background-with-copy-space_24972-1807_1_jxhmyh.png");
  width: 100%;
  height: auto;
}
.texts{
  font-family: '';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 96px;
/* identical to box height */

text-align: start;
color: #FFFFFF;

}

.pes{
  font-family: '';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;
text-align: start;
color: #FFFFFF;
}